# core
https://git@github.com/ibis-project/ibis/archive/b46c60bbb4ee5e9b809a9c83cf4da79a0856b025.zip#egg=ibis-framework
# must import first to get 
google-cloud-bigquery
pydata-google-auth

# dev
pytest
pytest-cov
pytest-mock
mock
flake8
flake8-comprehensions
mypy
isort
pydocstyle
setuptools-scm
